%h2 WELCOME TO RENT A CAR APP!
That wonderful feeling – you start the engine and your adventure begins…
At rentacarapp.com everything we do is about giving you the freedom to discover more. We’ll move mountains to find you the right rental car, and bring you a smooth, hassle-free experience from start to finish. Here you can find out more about how we work.
%br/
%h3 What we're about?
We want to make renting a car as simple and personal as driving your own.
Renting a car brings you freedom, and we’ll help you find the right car for you at a great price. But there’s much more to us than that. We're here to make renting a car a lot less hassle.
%br/
%h3 How we work?
Making sure you have a great experience every time you rent a car makes us happy.
We are a broker, so we arrange the car rental on your behalf. We use our massive buying power to bring you great deals. But we’re way more than a price comparison site, because we stay with you every step of the way.
%br/
%h3 Why use us
In simple terms, because we bring you unbeatable value and peace of mind throughout your rental car journey.

We use all our experience – and the experiences of millions of our customers – to bring you the car you need and the quality of service you want. Always at the best price. But don’t take our word for it. Take a look at what real people think about rentacarapp.com.
%br/
%h3 Who we are?
Our founders had the simple idea of wanting to make renting cars much better. And we’ve flourished because our customers love how we work.

We started in 2004 as TravelJigsaw. Four years later, we were making 1000 bookings a day. In 2010, we joined the Priceline Group and rebranded as Rentalcars.com.

Fast forward to today and we’re making 8 million bookings a year (and counting) in over 53,000 locations across 160 countries.

Our amazing growth relies on our fantastic team. We are 1200 colleagues from 70 nations and we’re all based in Manchester, UK.