%h1 CATEGORIES FOR VEHICLES
- @categories.each do |category|
  %li
    = link_to category.catName, category_path(category)
  %br/

= link_to 'Back to Homepage', root_path
- if current_user && current_user.role_id == 2
  |
  = link_to 'New Category', new_category_path
